<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div style='border: 2px solid;'>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %>
      </p>
    </div>
    <br>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
